:root {
  --my-grey: #404444;
}

.navbar {
  text-align: center;
  height: 40px;
  background: whitesmoke;
  /* border: 2px solid black; */
  position: relative;
  left: 0;
  top: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  height: 50vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.links {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.HomeLink {
  height: 40px;
  width: 50px;
  display: grid;
  font-size: 20px;
  text-decoration-line: none;
  color: grey;
  align-content: center;
}

.HomeLink:hover {
  color: whitesmoke;
  background-color: var(--my-grey);
  cursor: pointer;
}

.FeedLink {
  height: 40px;
  width: 50px;
  display: grid;
  font-size: 20px;
  text-decoration-line: none;
  color: grey;
  align-content: center;
}

.FeedLink:hover {
  color: whitesmoke;
  background-color: var(--my-grey);
  cursor: pointer;
}

.ProjectsLink {
  height: 40px;
  width: 50px;
  display: grid;
  font-size: 20px;
  text-decoration-line: none;
  color: grey;
  align-content: center;
}

.ProjectsLink:hover {
  color: whitesmoke;
  background-color: var(--my-grey);
  cursor: pointer;
}

.Profile {
  margin-left: 200px;
  font-size: 26px;
  padding-top: 10px;
  text-decoration-line: none;
  color: var(--my-grey);
}

.Profile:hover {
  transform: scale(1);
  border: 2px solid black;
  box-shadow: 1px 4px 30px black;
  cursor: pointer;
}

#Search {
  border: 2px solid grey;
  border-radius: 5px;
  height: 25px;
  width: 30%;
  margin-left: 575px;
  margin-top: 10px;
  padding: 2px 90px 2px 30px;
  outline: 0;
  background-color: white;
}

#Search:hover {
  transform: scale(1);
  border: 2px solid black;
  box-shadow: 1px 4px 30px black;
  cursor: pointer;
}

.search-icon {
  position: absolute;
  top: 23px;
  left: 1350px;
  width: 14px;
  cursor: pointer;
}
