.feed {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-column-gap: 50px;
  justify-items: center;
  width: 60%;
}

.column {
  position: relative;
  padding: 4px;
  border: solid 1px;
  margin: 40px;
  margin-bottom: 0;
  background-color: whitesmoke;
  height: 300px;
}

.post-setting {
  display: flex;
  justify-content: flex-start;
  height: 3%;
  font-size: 25px;
}

.line {
  width: 310px;
  border: 1px solid black;
  margin-top: 26px;
}

.photocred {
  text-align: left;
  width: 100;
  margin-left: 2px;
}

.projtitle {
  color: grey;
  font-style: italic;
  font-size: 14px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#delete {
  font-size: 24px;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

#submit {
  font-size: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
}



/* #Search{
   border: 2px solid grey;
   border-radius: 5px;
   height: 25px;
   width: 20%;
   margin-left: 900px;
   margin-top: 15px;
   
   padding: 2px 90px 2px 30px;
   outline: 0;
   background-color: white;
 }
 
 #Search:hover { 
   transform: scale(1);
   border: 2px solid black;
   box-shadow: 1px 4px 30px black;
   cursor: pointer;
 }
 
 
 .search-icon {
   position: absolute;
   top: 68px;
   left: 1350px;
   width: 14px;
   cursor: pointer;
 } */
