.feed {
    display: flex;
     flex-wrap: wrap;
     padding: 0 4px;
    margin-left: 20px;
   }
 
   .column {
     -ms-flex: 50%; /* IE 10 */
     flex: 50%;
     padding: 0 4px;
     border: solid 1px;
     margin-top: 10%;
     height: 450px;
   }
   
   .column img{
     margin-top: 18px;
   }
 
   .feed-img {
     width : 300px;
     height: 300px;
     border: solid 2px;
   }
 
   .impressions {
     display : flex;
     text-align: center;
     justify-content: space-between;
     width: 200px;
     margin-left: 40px;
     cursor: pointer;
     background-color: transparent;
   }
   .post-setting{
  display: flex;
  justify-content: flex-end;
  height: 3%;
  font-size: 25px;
   }
 
   .line {
     width:310px;
     border: 1px solid black;
     margin-top: 10px;
   }
 
 .photocred{
   display: block;
   width: 100;
 }
  
 /* #Search{
   border: 2px solid grey;
   border-radius: 5px;
   height: 25px;
   width: 20%;
   margin-left: 900px;
   margin-top: 15px;
   
   padding: 2px 90px 2px 30px;
   outline: 0;
   background-color: white;
 }
 
 #Search:hover { 
   transform: scale(1);
   border: 2px solid black;
   box-shadow: 1px 4px 30px black;
   cursor: pointer;
 }
 
 
 .search-icon {
   position: absolute;
   top: 68px;
   left: 1350px;
   width: 14px;
   cursor: pointer;
 } */