.HBContainer {
  display: flex;
  overflow-x: scroll;
  cursor: pointer;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.right-container {
  margin-top: 130px;
}

/* .avatar {
height: 20px;
width: 20px;

} */

/* .Card-info {
display:flex; 
display: -webkit-flex;
justify-content:space-between;
-webkit-justify-content:space-between;
} */

#home-title {
  margin-bottom: 60px;
}

.userInput {
  display: flex;
  background: whitesmoke;
  margin-bottom: 100px;
  padding: 20px;
  padding-bottom: 0;
  height: 200px;
  width: 300px;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1px 4px 10px black;
  align-items: center;
}

.home-container {
  display: grid;
  justify-content: center;
}

.Form-group {
  padding-top: 10px;
}

.userbtn {
  font-size: 11px;
  text-decoration: underline;
  cursor: pointer;
}

.btn {
  color: white;
  background-color: grey;
  cursor: pointer;
  font-size: 14px;
  border-radius: 25px;
  border: none;
  text-align: center;
  width: 100px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.btn:hover {
  transition: 0.4s;
  transform: translateY(-2px);
}

.input {
  border: 1px solid #dadce0;
  border-radius: 7px;
  font-size: 16px;
  outline: none;
}

.Content {
  padding-bottom: 10px;
}
