.HBContainer {
    display: flex;
    overflow-x: scroll;
    cursor: pointer;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.right-container {
    margin-top: 130px;
}

/* .avatar {
height: 20px;
width: 20px;

} */

/* .Card-info {
display:flex; 
display: -webkit-flex;
justify-content:space-between;
-webkit-justify-content:space-between;
} */

#home-title{
    margin-bottom: 60px;
}

.userInput {
background: lightgray ;
    border: 1px solid black ;
    margin-left: 100px;
    padding-right:20px;
    padding-top: 60px;
    width: 350px;
    height: 350px;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 4px 10px black;
}

.Pboard-img {
    height: 400px;
    width: 450px;
    border: solid 2px blue;
    border-radius: 40px;
    box-shadow: 1px 4px 30px black;
}

.PBoard {
    position: relative;
    left: 300px;
    bottom: 550px;
    
}

.Form-group {
    padding-top: 10px;
    flex-direction: column;
    justify-content: center;
}

.userbtn {
    position: center;
    text-decoration: underline;
   cursor: pointer;

}